/* global variables starting  */
:root {
  --main-color: #2196f3;
  --main-color-alternative: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
/* global variables ending  */

/* global rules starting  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 30px;
  font-size: 30px;
  font-weight: 800;
  z-index: 1;
  text-transform: uppercase;
  position: relative;
}

.main-title::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  left: -30px;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: -1;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/* global rules ending  */

/* header starting  */
.header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo img {
  height: 70px;
}

.header .main-list {
  display: flex;
  /* position: relative; */
}

.header .main-list > li:hover .megamenu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.header .main-list > li > a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  padding: 0px 30px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
  }

  .header .main-list {
    margin: 0 auto;
  }

  .header .main-list > li > a {
    padding: 10px;
    font-size: 14px;
  }
}

.header .main-list > li > a::before {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: var(--main-color-alternative);
  top: 3px;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-list > li > a:hover {
  background-color: #fcfcfc;
  color: var(--main-color);
}

.header .main-list > li > a:hover::before {
  left: 0;
}

.header .main-list .megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}

.header .main-list .megamenu .megamenu-image {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .header .main-list .megamenu .megamenu-image {
    display: none;
  }

  .header .main-list .megamenu {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .header .main-list .megamenu {
    flex-direction: column;
    gap: 0px;
  }
}

.header .main-list > ul li:last-child:hover .megamenu {
  z-index: 100;
}

.header .main-list .megamenu .megamenu-image img {
  width: 300px;
}

.header .main-list .megamenu .links li {
  display: block;
  padding: 20px 30px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .header .main-list .megamenu .links li {
    text-align: center;
  }
}

.header .main-list .megamenu .links li a {
  color: var(--main-color);
  font-weight: bold;
}

.header .main-list .megamenu .links li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

@media (max-width: 767px) {
  .header .main-list .megamenu .ul-links li:last-child {
    border-bottom: 1px solid #ccc;
  }
}

.header .main-list .megamenu .links li::before {
  content: "";
  position: absolute;
  height: 64px;
  width: 0;
  background-color: #ededed;
  z-index: -1;
  left: 0;
  top: 0;
  transition: var(--main-transition);
}

.header .main-list .megamenu .links li:hover::before {
  width: 100%;
}

.header .main-list .links li a i {
  margin-right: 20px;
}
/* header ending  */

/* landing starting  */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  height: calc(100vh - 74px);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.landing .container .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}

.landing .container .text h1 {
  margin: 0;
  letter-spacing: -2px;
}

@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}

.landing .container .text p {
  line-height: 1.5;
  color: #777;
  font-size: 25px;
  margin: 5px 0 0;
  max-width: 450px;
}

@media (max-width: 991px) {
  .landing .container .text p {
    margin: 15px auto;
  }
}

@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 18px;
  }
}

.landing .container .image img {
  height: 400px;
  position: relative;
  animation: up-and-down linear 4s infinite;
}

@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}

.landing .container .icon-dawn {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .container .icon-dawn i {
  font-size: 35px;
  animation: bouncing 1.5s infinite;
}

.landing .container .icon-dawn:hover {
  color: var(--main-color-alternative);
}

@media (max-width: 767px) {
  .landing .container .icon-dawn i {
    font-size: 25px;
  }
}
/* landing ending  */

/* articles starting  */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.articles .box {
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}

.articles .box img {
  width: 100%;
  max-width: 100%;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  text-transform: capitalize;
  margin: 0;
}

.articles .box .content p {
  color: #777;
  margin: 10px 0 0;
  line-height: 1.5;
}

.articles .box .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* articles ending  */

/* gallery starting  */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #ececec;
  position: relative;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgb(255 255 255 / 20%);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery .box .image:hover::before {
  animation: flush 0.7s;
}

.gallery .box .image img {
  width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image:hover img {
  transform: scale(1.1);
}
/* gallery ending  */

/* features starting  */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.features .box {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.features .box .image-holder {
  position: relative;
}

.features .box .image-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.features .box .image-holder::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0px 0px 170px 378px;
  border-color: transparent transparent white transparent;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
}

.features .box:hover .image-holder::after {
  border-width: 0px 500px 170px 0px;
  left: 0;
}

.features .box .image-holder img {
  width: 100%;
  height: 300px;
}

.features .box h3 {
  display: block;
  width: fit-content;
  font-size: 40px;
  margin: 0 auto;
  position: relative;
}

.features .box h3::after {
  content: "";
  position: absolute;
  height: 4px;
  width: calc(100% - 30px);
  bottom: -20px;
  left: 15px;
}
.features .quality h3:after {
  background-color: #f44036;
}

.features .time h3:after {
  background-color: #009688;
}

.features .passion h3:after {
  background-color: #03a9f4;
}

.features .box p {
  padding: 40px 20px;
  line-height: 1.6;
  color: #777;
}

.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .quality .image-holder::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time .image-holder::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .image-holder::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}
/* features ending  */

/* testimonials starting  */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #ececec;
  position: relative;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.testimonials .box {
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
  padding: 15px;
}

.testimonials .box img {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  right: -20px;
  top: -30px;
  border: 10px solid #ececec;
}

.testimonials .box h3 {
  margin: 0 auto 10px;
  color: var(--main-color);
}

.testimonials .box .title {
  color: #777;
  margin: 0 auto 10px;
  display: block;
}

.testimonials .box .rate .filled {
  color: #ffc107;
}

.testimonials .box p {
  color: #777;
  margin: 10px auto 0;
}

/* testimonials ending  */

/* team members starting  */
.team-memebers {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.team-memebers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.team-memebers .box {
  position: relative;
}

.team-memebers .box::before,
.team-memebers .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
}

.team-memebers .box::before {
  content: "";
  background-color: #f3f3f3;
  z-index: -2;
  width: calc(100% - 60px);
}

.team-memebers .box::after {
  content: "";
  width: 0;
  background-color: #e4e4e4;
  z-index: -1;
  transition: var(--main-transition);
}

.team-memebers .box:hover::after {
  width: calc(100% - 60px);
}

.team-memebers .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}

.team-memebers .box:hover .data img {
  filter: grayscale(100%);
}

.team-memebers .box .data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.team-memebers .box .data .social {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
}

.team-memebers .box .data .social i {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-memebers .box:hover .social i {
  color: #777;
}

.team-memebers .box .data .social i:hover {
  color: var(--main-color-alternative);
}

.team-memebers .box .info {
  padding-left: 90px;
}

.team-memebers .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 25px;
}

.team-memebers .box:hover .info h3 {
  color: #777;
}

.team-memebers .box .info p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* team members ending  */

/* services starting  */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #ececec;
  position: relative;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.services .box {
  background-color: white;
  border-radius: 5px;
  position: relative;
  counter-increment: services;
  transition: var(--main-transition);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: var(--main-color);
  width: 0;
  transition: var(--main-transition);
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box:hover::before {
  width: 100%;
}

.services .box .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.services .box .data i {
  color: #d5d5d5;
}

.services .box .data h2 {
  color: var(--main-color);
}

.services .box .info {
  position: relative;
  position: relative;
  padding: 15px;
  text-align: right;
  background-color: #f9f9f9;
}

.services .box .info a {
  color: var(--main-color);
}

.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  height: 100%;
  left: 0;
  top: 0;
  width: 90px;
  display: flex;
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.services .box .info::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 80px;
  top: 0;
  width: 45px;
  background-color: #d5d5d5;
  transform: skew(-15deg);
}
/* services ending  */

/* our skills starting  */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.our-skills .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.our-skills .container img {
  width: 300px;
  margin-left: 60px;
}

@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}

.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.our-skills .skill h3 span {
  font-size: 13px;
  border: 1px solid #ccc;
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--main-color);
}

.our-skills .skill .progress-bar {
  background-color: #ccc;
  height: 30px;
  position: relative;
}

.our-skills .skill .progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s linear;
}
/* our skills ending  */

#scrollTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #2196f3; /* Change to your desired color */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#scrollTopButton:hover {
  background-color: #0072b0; /* Change to your desired hover color */
}

#scrollTopButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* how it works starting */
.how-it-works {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #ececec;
  position: relative;
}

.how-it-works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

@media (max-width: 991px) {
  .how-it-works .container {
    flex-direction: column;
    gap: 0;
  }
}

.how-it-works .container .main-vect {
  width: 500px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .how-it-works .container .main-vect {
    margin-bottom: -50px;
  }
}

@media (max-width: 767px) {
  .how-it-works .container .main-vect {
    margin-bottom: -40px;
  }
}

.how-it-works .container .data {
  flex: 1;
}

.how-it-works .container .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #d5d5d5;
  margin-top: 15px;
  border-radius: 6px;
  border: 2px solid white;
  position: relative;
  z-index: 0;
  padding: 10px 20px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .how-it-works .container .box {
    flex-direction: column;
    text-align: center;
    gap: 0;
    padding: 10px;
  }
}

.how-it-works .container .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  z-index: -1;
  background-color: #c8c6c6;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
}

.how-it-works .container .box:hover::before {
  width: 100%;
  height: 100%;
}

.how-it-works .container .box .vector {
  width: 70px;
}

@media (max-width: 767px) {
  .how-it-works .container .box .vector {
    margin-top: 10px;
  }
}

.how-it-works .container .info h3 {
  margin: 30px 0 0;
}

.how-it-works .container .info p {
  line-height: 1.5;
  color: #666;
  margin: 10px auto 20px;
}
/* how it works ending */

/* events starting  */

.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.events .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.events .container img {
  max-width: 500px;
}

@media (max-width: 767px) {
  .events .container img {
    max-width: 100%;
  }
}

.events .container .time {
  flex: 1;
  text-align: center;
}

.events .container .time .units {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.events .container .time .unit {
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  padding: 10px 5px;
  transition: var(--main-transition);
}

.events .container .time .unit span {
  display: block;
}

.events .container .time .unit span:first-child {
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}

.events .container .time .unit span:last-child {
  font-size: 10px;
  padding: 10px 0 0;
  border-top: 1px solid #d5d5d5;
  margin-top: 5px;
  transition: var(--main-transition);
}

.events .container .time .unit:hover,
.events .container .time .unit:hover span:last-child {
  border-color: var(--main-color);
}

.events .container .time h3 {
  font-size: 30px;
  margin: 40px auto 0;
}

.events .container .time p {
  text-align: center;
  color: #777;
  line-height: 1.6;
}

.events .subscribe {
  width: 100%;
}

.events .subscribe form {
  max-width: 600px;
  margin: 50px auto 0;
  background-color: #f0eded;
  padding: 30px;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .events .subscribe form {
    flex-direction: column;
    border-radius: 0;
  }
}

.events .subscribe form input[type="email"] {
  flex: 1;
  height: 60px;
  padding: 15px;
  border-radius: 50px;
  caret-color: var(--main-color);
  border: none;
}

.events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}

.events .subscribe form input[type="submit"] {
  border-radius: 50px;
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  border: none;
  font-weight: 600;
  transition: var(--main-transition);
}

.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alternative);
}

.events .subscribe form input[type="email"]:focus,
.events .subscribe form input[type="submit"]:focus {
  outline: none;
}

.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

@media (max-width: 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 0;
  }

  .events .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}

/* events ending  */

/* pricing starting  */

.price {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #ececec;
  position: relative;
}

.price .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.price .container .box {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

.price .container .box::before,
.price .container .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f9f5f5;
  z-index: -1;
  transition: var(--main-transition);
}

.price .container .box::before {
  top: 0;
  left: 0;
}

.price .container .box::after {
  right: 0;
  bottom: 0;
}

.price .container .box:hover::before,
.price .container .box:hover::after {
  width: 100%;
}

.price .container .box .title {
  font-size: 25px;
  font-weight: 800;
  margin: 30px 0 0;
  text-transform: capitalize;
  letter-spacing: -1px;
}

.price .container .box.popular {
  position: relative;
}

@media (min-width: 1200px) {
  .price .container .box.popular {
    top: -20px;
  }
}

.price .container .box.popular .most-popular {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  top: 0;
  right: 20px;
  padding: 10px 10px 40px 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.price .container .box.popular .most-popular::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 22px;
  left: 0;
}

.price .container .box img {
  width: 100px;
  margin: 30px auto;
}

.price .container .box .pricing span:first-child {
  display: block;
  font-size: 70px;
  font-weight: 800;
  color: var(--main-color);
}

.price .container .box .pricing span:last-child {
  display: block;
  color: #777;
}

.price .container .box ul {
  text-align: center;
  padding: 30px 10px;
}

.price .container .box ul li {
  padding: 25px 10px;
  border-top: 1px solid #ddd;
}

.price .container .box ul li::before {
  font-family: "Font Awesome 5 free";
  content: "\f00c";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}

.price .container .box a {
  display: block;
  width: fit-content;
  border: 3px solid var(--main-color);
  border-radius: 6px;
  padding: 15px;
  margin: 30px auto 40px;
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: bold;
  transition: var(--main-transition);
}

.price .container .box a:hover {
  background: var(--main-color);
  color: white;
}

/* pricing ending  */

/* top videos starting  */
.top-videos {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.top-videos .holder {
  display: flex;
  justify-content: center;
  background-color: #ececec;
  border: 1px solid #ccc;
}

@media (max-width: 991px) {
  .top-videos .holder {
    flex-direction: column;
  }
}

.top-videos .holder .info .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.top-videos .holder ul {
  background-color: white;
}

.top-videos .holder ul li {
  padding: 20px;
  border-top: 1px solid #ccc;
  transition: var(--main-transition);
  position: relative;
  z-index: 1;
}

.top-videos .holder ul li:hover {
  color: var(--main-color);
}

.top-videos .holder ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  z-index: -1;
  background-color: #ececec;
  transition: var(--main-transition);
}

.top-videos .holder ul li:hover::before {
  width: 100%;
  height: 100%;
}

.top-videos .holder ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}

.top-videos .holder .preview {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .top-videos .holder .preview {
    order: -1;
  }
}

.top-videos .holder .preview .img-preview {
  width: 900px;
  max-width: 100%;
}

.top-videos .holder .preview p {
  background-color: white;
  padding: 30px 20px;
}

/* top videos ending  */

/* stats starting  */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-image: url(../images/stats_background.jpg);
  background-size: cover;
  min-height: 300px;
  position: relative;
  text-align: center;
}

.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.stats .title {
  position: relative;
  text-transform: capitalize;
  margin: 0 auto 40px;
  font-size: 40px;
  font-weight: 800;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.stats .container .box {
  position: relative;
  background-color: white;
  opacity: 0.8;
  transition: var(--main-transition);
  border-radius: 5px;
}

.stats .container .box::before,
.stats .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}

.stats .container .box::before {
  left: 0;
  top: 0;
}

.stats .container .box::after {
  right: 0;
  bottom: 0;
}

.stats .container .box:hover {
  opacity: 1;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}

.stats .container .holder-box::before,
.stats .container .holder-box::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--main-color);
  transition: 1s;
  transition-delay: 1s;
}

.stats .container .holder-box::before {
  right: 0;
  top: 0;
}

.stats .container .holder-box::after {
  left: 0;
  bottom: 0;
}

.stats .container .holder-box:hover::before,
.stats .container .holder-box:hover::after {
  width: 100%;
}

.stats .container .box i {
  margin: 20px auto 0;
}

.stats .container .box span {
  display: block;
  font-size: 70px;
  font-weight: 800;
  margin-top: 15px;
}

.stats .container .box p {
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
}

/* stats ending  */

/* discount starting  */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.discount .info {
  flex-basis: 50%;
  background-image: url(../images/discount_b1.jpg);
  background-size: cover;
  position: relative;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: change-background 10s linear infinite;
}

@media (max-width: 991px) {
  .discount .info {
    flex-basis: 100%;
  }
}

.discount .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(23 135 224 / 93%);
}

.discount .info img {
  max-width: 300px;
  position: relative;
}

.discount .formula {
  flex-basis: 50%;
}

@media (max-width: 991px) {
  .discount .formula {
    flex-basis: 100%;
  }
}

.discount .content {
  position: relative;
  text-align: center;
  padding: 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 800;
  margin: 40px auto 20px;
}

.discount .content p {
  max-width: 400px;
  margin: 10px auto 20px;
  line-height: 1.5;
}

.discount .formula .main-input {
  display: block;
  padding: 20px;
  margin: 0 auto 15px;
  border: none;
  background-color: #f9f9f9;
  font-size: 100%;
  border-bottom: 1px solid #d5d5d5;
  width: 60%;
  caret-color: var(--main-color);
}

@media (max-width: 767px) {
  .discount .formula .main-input {
    width: 100%;
    max-width: 100%;
  }
}

.discount .formula .main-input:focus {
  outline: none;
}

.discount .formula textarea.main-input {
  resize: none;
  height: 200px;
}

.discount .formula input[type="submit"] {
  cursor: pointer;
  color: white;
  width: 60%;
  background-color: var(--main-color);
  border: none;
  padding: 13px 70px;
  font-size: 20px;
  font-weight: 800;
  transition: var(--main-transition);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .discount .formula input[type="submit"] {
    width: 100%;
    max-width: 100%;
  }
}
/* discount ending  */

/* footer starting  */
.footer {
  padding-top: 80px;
  background-color: #000017;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.footer .box {
  color: #898888;
}

@media (max-width: 767px) {
  .footer .box {
    text-align: center;
  }
}

.footer .box .logo-footer {
  width: 170px;
}

.footer .box .social {
  display: flex;
  gap: 10px;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

.footer .box .social i {
  background: linear-gradient(to top, #333333, #000017);
  padding: 15px;
  transition: var(--main-transition);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .box .social .facebook:hover {
  background: #1877f2;
  color: white;
}

.footer .box .social .twitter:hover {
  background: #1da1f2;
  color: white;
}

.footer .box .social .youtube:hover {
  background: #ff0000;
  color: white;
}

.footer .box p {
  line-height: 1.5;
}

.footer .box .links li {
  padding: 20px 0;
}
@media (max-width: 767px) {
  .footer .box .links {
    margin-top: -40px;
  }
}

.footer .box .links li a {
  color: #898888;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: solid 1px rgba(246, 246, 246, 0.3);
}

.footer .box .links li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}

.footer .box .links li a:hover {
  margin-left: 15px;
}

.footer .box .info {
  display: flex;
  align-items: center;
}

.footer .box .info i {
  font-size: 30px;
  margin-right: 15px;
  color: var(--main-color);
}

.footer .box .info span {
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .footer .box .info {
    flex-direction: column;
    justify-content: center;
  }

  .footer .box .info:last-child i {
    margin-bottom: 25px;
  }
}

.footer .box .footer-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}

.footer .box .footer-gallery img {
  border: 3px solid white;
  width: 78px;
}

@media (max-width: 767px) {
  .footer .box .footer-gallery img {
    margin: 0 auto;
  }
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: #898888;
  font-weight: 700;
  border-top: solid 1px rgba(246, 246, 246, 0.3);
  margin-top: 15px;
}

/* footer ending  */

/* animation starting  */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -20px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  30%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flush {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount_b1.jpg);
  }
  50% {
    background-image: url(../images/dicount_b2.jpg);
  }
}
/* animation ending  */
